.button {
    padding: 1em;
    border:0;
    color:white;
    background-color: #57b;
    font-size: 1rem;   
    box-shadow: 0 0.2em 0.2em rgba(0,0,0,0.15);
}

.button:hover {
    background-color: #456ab6;
}

.button:active {
    background-color: #148;
}