body {
    background-color: hsl(210,80%,20%);
    font-family: Helvetica, Arial, sans-serif;
}

img {
    max-width: 100%;
}

.card {
    padding:0.5em;
    margin:0 auto;
    background-color: white;
    max-width: 300px;
    /* transform:translate(99px, 225px); */
    transform:translate(20px, 0px) rotate(25deg) ;
}